:root{
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

#page{
  width: 1120px;
  height: 3400px;
  margin: auto;
  margin-top: 65px;
  
}

.headline{
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #E1624F;
}

#cabeçalho h1{
  font-size: 36px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

img{
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

#introdution img {
  margin-top: 40px;
}

#introdution p{
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  margin-top: 24px;
  text-align: center;
}

hr{
  color: #D9D9D9;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

#titlelist{
  margin: 64px auto;
}

#titlelist h2{
  margin-top: 0px;
  font-size: 32px;
}

#list{
  margin: 64px auto;
}

#list ol, ul{
  padding-left: 0px;
}

#list ol > li{
  font-size: 28px;
  font-weight: bold;
  margin: 40px;
}

#list h4{
  margin-bottom: 0px;
  margin-left: -40px;
}

#list ul > li, h4{
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

#list ul{
  list-style-type: disc;
}

#list h3{
  font-size: 28px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 0px;
}

#list p{
  margin-top: 10px;
  font-size: 16px;
  font-weight: normal;
  margin-left: -40px;
}

.ajusteimg{
  margin-top: 48px;
}

.purple{
  color: #591B98;
}

#pink{
  color: #E5245E;
}

#orange{
  color: #E95E10;
}

ul li::marker{
  color: black;
}

aside{
  text-align: center;
}

footer{
  text-align: center;
  padding-top: 40px;
}

footer img{
  width: 16px;
  height: 16px;
  vertical-align: middle;
}